.myForm{
    background-color: #eee;
    padding: 40px;
    margin: 20px auto;
    width: 600px;
    height: auto;
}

input.ng-invalid.ng-touched {
    border: 1px solid red;
}


@media (min-width: 0) and (max-width: 360px) {
    .myForm{
        width:90%;
        
    }
}
@media (min-width: 361px) and (max-width: 480px) {
    .myForm{
        width: 93%;
        
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    .myForm{
        width:90%;
    }
}
    
